.table-view {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  height: 100%;
  width: 100%;
}

.left-wrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 1rem;
}

.camera-wrapper {
  flex: 1;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pgn-wrapper {
  flex: 1;
  padding: 1rem;
}

.chessboard-wrapper {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
