html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.table-view {
  height: 80vh;
  overflow: hidden;
  display: flex;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 6rem;
}

.left-wrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 1rem;
  width: 80vmin;
}

.top-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.back-button {
  text-align: left;
  flex-shrink: 0;
}

.pgn-download-button button {
  cursor: pointer;
  display: inline-block;
  padding: 0.4rem 1rem;
  background-color: var(--main-color);
  color: var(--dark-text);
  border: none;
  border-radius: 6px;
  font-weight: 500;
  text-decoration: none;
  font-size: 0.9rem;
  transition: background-color 0.2s ease;
}

.pgn-download-button:hover button {
  background-color: rgba(81, 154, 206, 0.85);
  color: white;
}

.camera-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.camera-wrapper video,
.camera-wrapper img {
  width: 100%;
  height: 100%;
  max-width: 50vmin;
  max-height: 50vmin;
  object-fit: cover;
  border-radius: 8px;
}

.pgn-wrapper {
  height: 200px;
  overflow-y: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 6px;
  scroll-behavior: smooth;
}

.chessboard-wrapper {
  width: min(60vw, 80vh);
  position: relative;
  margin: auto;
}

.chessboard-wrapper::after {
  content: "";
  display: block;
  padding-top: 100%;
}

@media (max-width: 768px) {
  .table-view {
    flex-direction: column-reverse;
  }

  .left-wrapper {
    padding: 0.5rem;
    display: contents;
  }
  
  .back-button {
    order: 4;
    font-size: 0.85rem;
    margin: 0.5rem 0;
  }

  .pgn-wrapper {
    order: 2;
    max-height: 150px;
    font-size: 0.85rem;
    padding: 0.5rem;
    max-width: 100%;
  }

  .camera-wrapper {
    order: 1;
    padding: 0.5rem;
    max-width: 100%;
  }

  .chessboard-wrapper {
    order: 3;
    padding: 1rem;
  }

  .chessboard-wrapper > * {
    width: 100vw;
    max-width: 100%;
    aspect-ratio: 1 / 1;
  }

  body {
    padding-top: 5rem;
  }
}

@media (prefers-color-scheme: light) {
  .pgn-download-button button {
    color: var(--light-text);
    background-color: var(--light-main-color);
  }
}